version: 2.1

jobs:
  build:
    working_directory: ~/circleci-python
    docker:
      - image: "circleci/python:3.6.4"
    steps:
      - checkout
      - run: python3 main.py
  deploy:
    docker:
      - image:  "circleci/python:3.6.4"
    steps:
      - checkout
      - setup_remote_docker:
          version: 19.03.13
      - run:
          name: Build and push to Docker Hub
          command: |
            docker build -t shanmukhsreerangam/shanmukh:latest .
            echo "Shanmukh@0410" | docker login -u "shanmukhsreerangam" --password-stdin
            docker push shanmukhsreerangam/shanmukh:latest

  test:
    working_directory: ~/circleci-python
    docker:
      - image: "circleci/python:3.6.4"
    steps:
      - checkout
      - run: python3 main1.py

workflows:
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
      - deploy